* {
	border: none;
	padding: 0;
	margin: 0;
}

body {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}
h3 {
	text-align: center;
}
footer {
	margin: 40px;
}

.hidden {
	display: none;
}

.sitecontainer {
	padding-top: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.datagraphic {
	margin: 30px;
	border: thin dashed blue;
	width: 900px;
	display: flex;
	justify-content: center;
}
.datagraphicpie {
	border: thin dashed blue;
	margin: 30px;
	width: 600px;
}
.datagraphicsmall {
	margin: 30px;
	width: 400px;
}
.breakdown {
	display: flex;
}